.link-block-container {
    display: flex;
    align-items: center;
    background-color: #281c8c;
    margin: 10px;
    padding: 5px 8px;
    border-radius: 10px;


    * {
        text-decoration: none;
        color: #e6e5e7;
    }

    &:hover {
        box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #281c8c;
    }
}