.link-block-container,
button {
    display: flex;
    align-items: center;
    background-color: #3a4367;
    color: #e6e5e7;
    margin: 12px;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;


    * {
        text-decoration: none;
        color: #e6e5e7;
    }

    &:hover {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #3a4367;
    }
}