@font-face {
    font-family: 'font';
    src: url('/fonts/font.otf')
}

html * {
    font-family: 'font';
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}