@font-face {
    font-family: 'font';
    src: url('/fonts/font.otf')
}

html {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #1d2236;
}

h1 {
    font-family: 'font';
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;

    .home-logo {
        width: calc(8vw + 10px);
        right: 10px;
        top: 10px;
        position: fixed;
    }
}